<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
       About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card expand="full">
    <ion-card-header>
      <ion-card-title>
        <div>Aplikáciu vytvoril</div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>Patrik Gereg</div>
      <div>Univerzita Tomáše Bati ve Zlíně, Fakulta Aplikovanej Informatiky</div>
      <div>Predmet Mobilné Aplikácie</div>
      <div>Kontakt: p_gereg@utb.cz</div>


    </ion-card-content>
  </ion-card>

</ion-content>
