<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <!-- #region value -->
  <div class="contents">
    <ion-row>
      <ion-input type="number" min="1"  class="value-input" [(ngModel)]="fromValue" placeholder="From" (keyup)="clear()"></ion-input>
    </ion-row>

    <ion-row>
      <ion-input type="number" disabled class="value-input" [(ngModel)]="resultRate" placeholder="To" ></ion-input>
    </ion-row>
  </div>

  <!-- #endregion -->

  <!-- #region -->
  <ion-row>
      <ion-col size="6" class="selectors">
          <ion-select  class="select-list-ion"  [(ngModel)]="fromCurr">
            <ion-select-option value="EUR" >EUR</ion-select-option>
            <ion-select-option *ngFor="let item of countryCodes"  value="{{item}}">{{item}}</ion-select-option>
          </ion-select>
      </ion-col>


    <ion-col size="6" class="selectors">
      <ion-select  class="select-list-ion" [(ngModel)]="toCurr">
        <ion-select-option value="USD">USD</ion-select-option>
        <ion-select-option *ngFor="let item of countryCodes"  value="{{item}}">{{item}}</ion-select-option>
      </ion-select>
    </ion-col >

    <ion-col size="6" class="selectors">
      <button expand="block" class="button" (click)="calculateCurrency()" >Convert</button>
    </ion-col>

    <ion-col size="6" class="selectors">
      <button expand="block" class="button" (click)="switchCurrencies()" >Switch</button>
    </ion-col>
  </ion-row>

<!--  <button expand="block" class="select-list" (click)="calculateCurrencyOne()" >Convert</button>-->

</ion-content>
