<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <!-- #region value -->
  <div class="contents">
    <ion-row>
      <ion-input type="number" class="value-input" [(ngModel)]="fromValue" placeholder="From" ></ion-input>
    </ion-row>

    <ion-row>
      <ion-input type="number" class="value-input" [(ngModel)]="resultRate" placeholder="To" ></ion-input>
    </ion-row>
  </div>

  <!-- #endregion -->

  <!-- #region -->
  <ion-row>
    <ion-col class="selectors">
      <select class="select-list" [(ngModel)]="fromCurr" >
        <option *ngFor="let item of countryCodes" selected value="{{item}}">{{item}}</option>
      </select>
    </ion-col>

    <ion-col>
      <select class="select-list" [(ngModel)]="toCurr" >
        <option *ngFor="let item of countryCodes" value="{{item}}">{{item}}</option>
      </select>
    </ion-col>
  </ion-row>

  <button expand="block" class="select-list" (click)="calculateCurrencyOne()" >Block Button </button>

</ion-content>
