<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Historical courses {{baseCurr}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contents">
    <ion-row >
      <ion-col size="11"   >
        <ion-item >
          <ion-label >Date</ion-label>
          <ion-input
            value="{{ inputDate | date: 'yyyy-MM-dd' }}"
            id="date"
            class="ion-text-end"
          >

          </ion-input>
          <ion-popover trigger="date" size="cover" >
            <ng-template>
              <ion-datetime
                presentation="date"
                [(ngModel)]="inputDate"
                locale="sl-SI"
              ></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="selectors">
        <ion-select  class="select-list-ion"  [(ngModel)]="baseCurr">
          <ion-select-option value="EUR" >EUR</ion-select-option>
          <ion-select-option *ngFor="let key of keysSelector"  value="{{key}}">{{key}}</ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col size="6" >
        <button expand="block" class="button" (click)="submitSearch()" >Ok</button>
      </ion-col>
    </ion-row>
  </div>

  <ion-grid  >
    <ion-row>
      <ion-col class="col-title" size="6">Country Code</ion-col>
      <ion-col class="col-title" size="6">Course</ion-col>

    </ion-row>

    <ion-row class="row-content" size="6" *ngFor="let key of keys"  >
      <ion-col size="6" > <h6>{{key}}</h6> </ion-col>
      <ion-col size="6" > <h6>{{historicalData.rates[key].toFixed(4)}}</h6></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
